.prose p {
    margin: 2pt 0;
    padding: 2pt 0;
    font-size: 12pt;
}

.prose h1 {
    margin-top: 0.5em;
    font-size: 18pt;
    font-weight: bold;
}

.prose h2 {
    margin-top: 0.5em;
    font-size: 16pt;
    font-weight: bold;
}

.prose h3 {
    margin-top: 0.5em;
    font-size: 14pt;
    font-weight: bold;
}

.prose h4 {
    margin-top: 0.5em;
    font-size: 12pt;
    font-weight: bold;
}
.prose a {
    color: #4A6DA7;
    text-decoration: underline;
}

.prose ul, .prose ol {
    margin: 2pt 0;
    padding: 2pt 0;
}

.prose ul li {
    margin: 2pt 2em;
    list-style: disc;
}

.prose ol li {
    margin: 2pt 2em;
    list-style: decimal;
}

/* Special to handle copy/paste */

.prose h1:empty::after {
  content: "\00a0"; /* Non-breaking space */
  display: inline-block;
}

.prose h2:empty::after {
  content: "\00a0"; /* Non-breaking space */
  display: inline-block;
}

.prose h3:empty::after {
  content: "\00a0"; /* Non-breaking space */
  display: inline-block;
}

.prose p:empty::after {
  content: "\00a0"; /* Non-breaking space */
  display: inline-block;
}

.prose p:last-of-type:empty::after,
.prose p:first-of-type:empty::after
{
  display: none;
}