{% extends 'web/_base.html' %}
{% load form_filters %}
{% block title %}Sign Up{% endblock %}
{% block content %}
<div class="max-w-md mx-auto">
    <div class="card rounded-lg">
        <div class="p-6">
            <h1 class="text-2xl font-bold text-gray-900 mb-4">Sign Up</h1>
            <p class="mb-4">
                You are about to use your {{ account.get_provider.name }} account to log in.
                As a final step, please complete the following form:
            </p>
            <form action="{% url 'socialaccount_signup' %}" method="post">
                {% csrf_token %}
                {% for field in form.visible_fields %}
                <div class="mb-4">
                    <label class="form-label" for="{{ field.id_for_label }}">{{ field.label }}</label>
                    {{ field|addclass:"form-input" }}
                    {% if field.errors %}
                    <p class="mt-1 text-sm text-red-600">{{ field.errors.0 }}</p>
                    {% endif %}
                </div>
                {% endfor %}
                {{ redirect_field }}
                <div class="mt-6">
                    <button type="submit" class="btn-primary w-full">
                        Sign Up
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
