{% extends 'email/_base_email.html' %}

{% block title %}Event confirmation{% endblock %}

{% block content %}
    <h1>Hello!</h1>
    
    <p>You are confirmed for <strong>{{ registration.event.name }}</strong> on <strong>{{ registration.event.starts_at|date:"l, M j" }}</strong> at <strong>{{ registration.event.starts_at|date:"g:i A" }}</strong>.</p>
    
    <p>Need to cancel? No worries at all! You can manage your registration by visiting your profile page.</p>

    <p><a href="{{ base_url }}{% url 'profile' %}" class="button">Visit profile page</a></p>
    
    {% if registration.is_ride_leader %}
    <div class="ride-leader-info">
        <h3>Ride Leader Information:</h3>
        <p>As the ride leader for this event, please remember that participant emergency contact details are crucial for safety. You can access these details directly via the <a href="{{ base_url }}{% url 'riders_list' registration.event.id %}">Emergency Contact List</a> on your profile page.</p>
        <p><strong>If you anticipate being in an area with poor or no cellular service during the event, please ensure you have a downloaded or printed copy of this list.</strong></p>
    </div>
    {% endif %}
    
    {% if not registration.event.virtual %}
    <div class="event-details">
        <h2>Please remember:</h2>
        
        <div class="reminder-item">
            Arrive approximately 30 minutes or more before the start time. This will give you enough time to set up your bike, find the right group, and participate in the briefing before you depart.
        </div>
        
        <div class="reminder-item">
            Bring enough food and drink to keep you going, especially if it is a long ride or the forecast indicates it is particularly warm.
        </div>
        
        <div class="reminder-item">
            You will receive an email if the event is cancelled by the ride director. Please check your emails before you leave home.
        </div>
    </div>
    {% endif %}
{% endblock %}

{% block footer %}
    <p>See you soon!</p>
    {{ block.super }}
{% endblock %} 