{% extends 'email/_base_email.html' %}
{% load sesame_tags %}

{% block title %}Log in link{% endblock %}

{% block content %}
    <h1>Hello,</h1>
    
    <p>You requested that we send you a link to log in:</p>
    
    <p><a href="{{ login_link }}" class="button">Click here to log in</a></p>
    
    <p>...or copy and paste this URL into your browser:</p>
    <code>{{ login_link }}</code>

    <div class="important-notice">
        <h3>Important:</h3>
        <ul>
            {% sesame_max_age_minutes as max_age_minutes %}
            {% if max_age_minutes %}
            <li>This link is valid for <strong>{{ max_age_minutes }} minute{{ max_age_minutes|pluralize }}</strong> only</li>
            {% endif %}
            {% sesame_is_one_time as is_one_time %}
            {% if is_one_time %}
            <li>This link can be used <strong>only once</strong></li>
            {% endif %}
            <li>After clicking the link, you'll be logged in automatically</li>
        </ul>
        <p>If the link has expired, please request a new one using the <a href="{{ base_url }}{% url 'login_form' %}">login form</a>.</p>
    </div>

    <p>You can access <a href="{{ base_url }}{% url 'profile' %}">your profile</a> once logged in.</p>
{% endblock %}
