{% extends 'email/_base_email.html' %}

{% block title %}Registration withdrawn{% endblock %}

{% block content %}
    <h1>Hello {{ registration.first_name }},</h1>

    <p>Your registration for <strong>{{ registration.event.name }}</strong> on <strong>{{ registration.event.starts_at|date:"l, M j" }}</strong> has been withdrawn by the event organizer.</p>

    <p>If you believe this was done in error or have questions, please contact the ride director.</p>
{% endblock %}

{% block footer %}
    <p>Ottawa Bicycle Club</p>
    {{ block.super }}
{% endblock %}
