{% extends "admin/base_site.html" %}
{% load i18n admin_urls static %}

{% block extrahead %}
{{ block.super }}
{{ formset.media }}
{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">{% translate 'Home' %}</a>
&rsaquo; <a href="{% url 'admin:app_list' app_label=opts.app_label %}">{{ opts.app_label|capfirst }}</a>
&rsaquo; <a href="{% url opts|admin_urlname:'changelist' %}">{{ opts.verbose_name_plural|capfirst }}</a>
&rsaquo; {% translate 'Duplicate events' %}
</div>
{% endblock %}

{% block content %}
<h1>{% translate 'Duplicate Selected Events' %}</h1>
<p>{% translate 'Modify the details for each duplicated event below. The new events will be created as invisible (not visible to members) and can be made visible after review.' %}</p>

<form method="post">
    {% csrf_token %}
    {{ formset.management_form }}

    <table>
        <thead>
            <tr>
                <th>{% translate 'Original Event' %}</th>
                <th>{% translate 'New Event Name' %}</th>
                <th>{% translate 'New Start Time' %}</th>
            </tr>
        </thead>
        <tbody>
            {% for form in formset %}
            <tr class="{% cycle 'row1' 'row2' %}">
                <td>
                    {{ form.event_id }}
                    {{ form.original_name }}
                </td>
                <td>
                    {{ form.new_name }}
                    {% if form.new_name.errors %}
                    <ul class="errorlist">
                        {% for error in form.new_name.errors %}
                        <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </td>
                <td>
                    {{ form.new_starts_at }}
                    {% if form.new_starts_at.errors %}
                    <ul class="errorlist">
                        {% for error in form.new_starts_at.errors %}
                        <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <input type="hidden" name="action" value="duplicate_event">
    <input type="hidden" name="post" value="yes">
    {% for obj in queryset %}
    <input type="hidden" name="{{ action_checkbox_name }}" value="{{ obj.pk }}">
    {% endfor %}

    <div class="submit-row">
        <input type="submit" value="{% translate 'Duplicate Events' %}" class="default">
        <a href="{% url opts|admin_urlname:'changelist' %}" class="button cancel-link">{% translate 'Cancel' %}</a>
    </div>
</form>
{% endblock %}
