{% load design_tags %}
{% weather_icon summary %}
<span class="wx-temp" aria-hidden="true">{{ summary.temperature_display }}&deg;</span>
{% if summary.aqhi_category %}
<span class="wx-aqhi wx-aqhi--{{ summary.aqhi_category|slugify }}" aria-hidden="true">AQHI&nbsp;{{ summary.aqhi_category }}</span>
{% if summary.aqhi_warning_category %}
<span class="wx-aqhi-spike wx-aqhi--{{ summary.aqhi_warning_category|slugify }}" aria-hidden="true">&rarr;{{ summary.aqhi_warning_category }}</span>
{% endif %}
{% endif %}
