
{% extends 'web/_base.html' %}
{% block title %}Calendar{% endblock %}
{% block content %}
    <div class="container">
        <p><a href="{% url 'event_list' %}">Back to event list</a></p>
    <h1>{{event.name}}</h1>
        <p>Part of the {{event.program}} program.</p>
<p>Location is {{event.location}}.</p>
<p>Start time {{event.starts_at}}.</p>
        <p>Description:</p>
        <p>{{event.description}}</p>
        <a class="btn btn-primary" href="{% url 'registration_create' event.id %}">Register for event</a>
        {% for ride in event.ride_set.all %}
        <h2>Ride: {{ride.name}}</h2>
        <p>{{ride.description}}</p>
        <p>See <a href="{{ride.route.url}}">route in Ride With GPS</a></p>
        <c-rwgps-map :route="ride.route"/>
        {% endfor %}
    </div>
{% endblock %}